<include file="Public/header" />
	<!-- main container -->
    <div class="content">

        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default</span>
            </a>
            <a href="#" class="skin second_nav" data-file="css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>

        <div class="container-fluid">
            <div id="pad-wrapper" class="form-page">
                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span8 column">
                        <empty name="id">
                        <form  id="form" action="{:U('Config/add')}" method="post">
                        <else/>
                        <form  id="form" action="{:U('Config/edit')}" method="post">
                        </empty>
                            <div class="field-box">
                                <label>配置标识:</label>
                                <input class="span4 inline-input" type="text" name="name" value="{$name}"/>
                            </div>
                             <div class="field-box">
                                <label>标题:</label>
                                <input class="span4 inline-input" type="text" name="title" value="{$title}"/>
                            </div>
                            <div class="field-box">
                                <label>分组:</label>
                                <div class="ui-select">
                                    <select name="group">
                                    	<volist name="GROUP_LIST" id="vo">
                                        <option selected="" value="{$key}"/>{$vo}
										</volist>
                                    </select>
                            	</div>
                            </div>
                            <div class="field-box">
                                <label>分组:</label>
                                <div class="ui-select">
                                    <select name="group">
                                    	<volist name="TYPE_LIST" id="val">
                                        <option selected="" value="{$key}"/>{$val}
										</volist>
                                    </select>
                            	</div>
                            </div>
                             <div class="field-box">
                                <label>排序:</label>
                                <input class="span4 inline-input" type="text" name="sort" value="{$sort}"/>
                            </div>
                            <div class="field-box">
                                <label>配置值:</label>
                                <textarea class="span4" rows="2" name="value">{$value}</textarea>
                            </div>
                            <div class="field-box">
                                <label>配置项:</label>
                                <textarea class="span4" rows="2" name="extra">{$extra}</textarea>
                            </div>
                            <div class="field-box">
                                <label>状态:</label>
                                <div class="span8">
                                    <label class="radio">
                                        <input type="radio" name="status" id="optionsRadios1" value="1" checked="" />
                                        启用
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="status" id="optionsRadios2" value="0" />
                                        禁用
                                    </label>
                                </div>
                            </div>
                            <div class="field-box">
                                <label>描述:</label>
                                <textarea class="span5" rows="4" name="remark">{$remark}</textarea>
                            </div>
                            <input type="hidden" name="id" value="{$id}" />
                            <div class="span11 field-box actions">
                                    <input type="submit" class="btn-flat inverse span1_2" value="确认" />
                                    <input type="button" value="取消" class="btn-flat info span1_2" onclick="javascript:history.back(-1);return false;"/>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->

<include file="Public/footer" />
