<include file="Public/header" />
	<!-- main container -->
    <div class="content">

        <div class="container-fluid">
            <div id="pad-wrapper" class="form-page">
                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span8 column">
                        <form >
                        	<volist name="list" id="config" key="k">
                            <div class="field-box">
                                <label>{$config.title}:</label>
                                <input class="span8 inline-input" type="text" value="{$config.value}"/>
                            </div>

							</volist>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->

<include file="Public/footer" />
